.parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#filter-content-container {
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  gap: 1rem;
}

#filter-content-container input {
  height: 2rem;
}
#filter-content-container h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

#header-filter-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
}
.split {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#extra-container {
  display: flex;
  height: auto;
  margin: auto;
}

#filter-button {
  color: white;
  background-color: #f21d2f;
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 10rem;
  padding: 0.5rem;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#account-menu-container {
  display: flex;
  height: 100%;
  width: 20%;
}

.body-container {
  display: flex;
  padding: 5% 0 5% 0;
  width: 100%;
  height: 500px;
}

#table-container {
  display: flex;
  width: 80%;
  height: 100%;
  /* overflow-y: scroll; */
}
#table-style {
  width: 100%;
  border: 3px solid darkgray;
  border-collapse: collapse;
}

.table-header {
  border-bottom: 3px solid darkgray;
  height: 3rem;
  background-color: darkgray;
}
#table-data {
  height: 3rem;
  background-color: white;
  font-weight: bold;
}

#table-data td {
  height: 10%;
}

#inner-table-container {
  width: 100%;
  height: 100%;
}
