.search-container {
    background-color: #EEEEEE;
    font-family: "Circe",Georgia,"Times New Roman",Times,serif;
    margin: 2rem 8rem 1rem;
    border-radius: 5px;
}

.search-container-inner {
  background-color: #FFFFFF;
  font-family: "Circe",Georgia,"Times New Roman",Times,serif;
  margin: 2rem 0rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 7px 6px 2px rgb(0 0 0 / 40%);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-color: #FFFFFF;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
  }
  
  .flex-container > button {
    background-color: #E4E4E4;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0rem;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    border-style: none;
  }

  .flex-container > div {
    background-color: #FFFFFF;
    margin: 0.5rem;
    padding: 0rem;
    text-align: left;
  }

  .icon-img {
    max-width: 65%;
  }

  .flex-container-filters {
    display: flex;
    flex-flow: row wrap;
    background-color: #E4E4E4;
    gap: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .flex-container-filters > p {
    background-color: #E4E4E4;
    margin: 0.5rem;
    padding: 0rem;
    text-align: left;
  }

  .search-container h3 {
    color: #202020;
    text-align: left;
    padding: 1rem;
    margin: 0;
  }

  .filter-button {
    color: #FFFFFF;
    background-color: #F21D2F;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 1rem;
    padding: 0.75rem 3rem;
    box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 40%);
  }
  